<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <form action={% block form_action %}{% endblock %} method="post">
        <div class="form-wrapper">
            {% if 'error' in dict_arguments %}
            <div class="form_wrapper__error">
                {{dict_arguments['error']}}
            </div>
            {% endif %}
            {% block form_fields %}
            {% endblock %}

            {% block form_buttons %}
            {% endblock %}
        </div>
    </form>

</body>

</html>