{% extends "user/base.html" %}

{% block title %}
Вход
{% endblock %}

{% block form_action %}
{{dict_arguments['action']}}
{% endblock %}

{% block form_fields %}
<div class="form_wrapper__field">
    <label class="field__label" for="login">Логин</label>
    <input type="text" name="login" id="login" placeholder="Login" value="zzzzz" class="field__input">
</div>

<div class="form_wrapper__field">
    <label class="field__label" for="pas">Пароль</label>
    <input type="password" name="pas" id="pas" placeholder="Password" value="z" class="field__input">
</div>

{% endblock %}


{% block form_buttons %}
<input type="submit" class="wrapper__button" value='Войти'>
<a href="{{url_for('.register')}}" class="wrapper__button">Зарегестрироваться</a>
{% endblock %}