{% extends "user/base.html" %}

{% block title %}
{{ dict_arguments['title'] }}
{% endblock %}

{% block form_action %}
{{dict_arguments['action']}}
{% endblock %}

{% block form_fields %}
<div class="form_wrapper__field">
    <label class="field__label" for="login">Логин</label>
    <input type="text" name="login" id="login" placeholder="Login" value="" class="field__input">
</div>

<div class="form_wrapper__field">
    <label class="field__label" for="pas">Пароль</label>
    <input type="password" name="pas" id="pas" placeholder="Password" value="" class="field__input">
</div>

{% endblock %}


{% block button_text %}
{{dict_arguments['button_title']}}
{% endblock %}