.error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size); 
    margin: 50px auto;
    width: 400px;
    height: 100px;
    /* background-color: rgb(246, 77, 77); */
    border-radius: 0.25rem;
    font-size: 25px;
    animation:blinking 1s infinite;
}
@keyframes blinking{
    0%{background-color:rgb(255, 146, 146)}
    50%{background-color:rgb(255, 103, 103)}
    100%{background-color:rgb(255, 65, 65)}
}

.not-active{
    visibility:hidden;
}